@use "./color";
@use "./resets";

$colors: (
    "bg": color.$mauve1,
    "bg-2": color.$mauve2,
    "bg-3": color.$mauve3,
    "border": color.$mauve4,
    "border-2": color.$mauve5,
    "border-3": color.$mauve6,
    "fg": color.$mauve11,
    "fg-2": color.$mauve12,
    "accent": color.$pink9,
    "fill": color.$pink7,
    "fill-2": color.$pink8,
    "fill-3": color.$pink9,
);

:root {
    @each $n, $c in $colors {
        --color-#{$n}: #{$c};

        .color-#{$n} {
            color: $c;
        }
    }
}

@mixin hover($hover-color) {
    transition: background-color 120ms ease-in-out;
    &:hover {
        transition: background-color 60ms ease-in-out;
        background-color: $hover-color;
    }
    &:focus-visible {
        outline: 2px solid $hover-color;
    }
}
