@use "./theme";
@use "./text";

.playback {
    align-items: flex-start;
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(5rem, 1fr) 15em 1fr;
}

.playback__details {
    display: grid;
    justify-self: start;
    overflow: hidden;

    .title {
        white-space: nowrap;
        @extend %text-elide;
    }

    .artist {
        white-space: nowrap;
        @extend %text-elide;
        font-size: 0.8em;
    }
}

.playback__controls {
    align-items: center;
    display: grid;
    gap: 0.25rem;
    grid-template-areas:
        "prev playpause next"
        "progress progress progress";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1rem;
    justify-self: center;
    padding: 0 0 0.5rem;
    row-gap: 0.5rem;

    .prev {
        grid-area: prev;
    }
    .playpause {
        grid-area: playpause;
    }
    .next {
        grid-area: next;
    }
    .scrubber {
        align-items: center;
        display: grid;
        font-size: 0.8rem;
        grid-template-columns: 1fr 9fr 1fr;
        gap: 0.25rem;
        grid-area: progress;
    }
}

.playback__macros {
    justify-self: end;
    display: grid;
    gap: 0.5rem;
}

.playbackbutton {
    @extend %button;
    @include theme.hover(var(--color-fill-2));
    background: var(--color-fill);
    color: white;
    display: grid;
    place-items: center;
}
